.layout {
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 6px;
    transition: background-color 250ms linear;

    &:hover {
      background-color: #5b5858;
      cursor: pointer;
    }

    span {
      width: 100%;
    }
  }
}
