.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;

  &.withText {
    height: 30px;
  }

  &.iconButton {
    border: none;
    padding: 0;
    height: 20px;
  }

  &:hover {
    background-color: #5b5858;
  }

  span {
    text-transform: uppercase;
  }
}
