.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  gap: 5px;

  &.withText {
    height: 30px;

    &:hover {
      background-color: #5b5858;
    }
  }

  &.iconButton {
    border: none;
    padding: 0;
    height: 20px;
  }

  span {
    text-transform: uppercase;
  }
}
