.button {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;

  &.hidden {
    opacity: 0;
  }

  &.withText {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    height: 30px;
    transition: background-color 250ms linear;

    &.active {
      background-color: #5b5858;
    }

    &:active {
      span {
        color: #807d7d;
      }
    }

    &:disabled {
      span {
        color: white;
      }
    }

    &:hover {
      background-color: #5b5858;
    }
  }

  &.iconButton {
    border: none;
    padding: 0;
    height: 20px;
  }

  span {
    color: white;
    text-transform: uppercase;
  }
}
