.layout {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      background-color: #5b5858;
    }
  }
}

.spinnerWrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
