.layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: auto;

  .item {
    display: flex;
    gap: 10px;
  }
}

.spinnerWrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
